<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu side-menu-big-icon">
    <ul class="side-menu-list">
        <li class="opened">
            <a href="#">
                <i class="font-icon font-icon-home"></i>
                <span class="lbl">Overview</span>
            </a>
        </li>
        <li>
            <a href="#" class="label-right">
                <img src='img/instagram-account/account1.jpg' width=32 height=32 style='width:32px; height:32px; margin-bottom:5px;'/>
                <span class="lbl">@khalidmnet</span>
                <span class="label label-custom label-pill label-danger">23</span>
            </a>
        </li>
        <li>
            <a href="#" class="label-right">
                <img src='img/instagram-account/account2.jpg' width=32 height=32 style='width:32px; height:32px; margin-bottom:5px;'/>
                <span class="lbl">@bawestech</span>
                <span class="label label-custom label-pill label-success"><i style='font-size:1em; color:white;' class="icon fa fa-check"></i></span>
            </a>
        </li>
        <li>
            <a href="#"  class="label-right">
                <img src='img/instagram-account/account3.jpg' width=32 height=32 style='width:32px; height:32px; margin-bottom:5px;'/>
                <span class="lbl">@studenthubco</span>
                <span class="label label-custom label-pill label-danger">5</span>
            </a>
        </li>
        <li style='background-color:#EEE;'>
            <a href="#">
                <i class="icon fa fa-plus"></i>
                <span class="lbl">Add Instagram Account</span>
            </a>
        </li>
    </ul>
</nav><!--.side-menu-->
