<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
    <div class="side-menu-avatar">
        <div class="avatar-preview avatar-preview-100">
            <img src="img/instagram-account/account2.jpg" alt="">
            <span style='color:#343434; font-weight:600'>@bawestech</span>
        </div>
    </div>
    <ul class="side-menu-list">
        <li class="blue opened">
            <a href="#">
                <i class="font-icon font-icon-users"></i>
                <span class="lbl">Agents</span>
            </a>
        </li>
        <li class="aquamarine">
            <a href="#">
                <i class="font-icon font-icon-build"></i>
                <span class="lbl">Billing</span>
            </a>
        </li>
        <li class="pink-red">
            <a href="#">
                <i class="font-icon font-icon-zigzag"></i>
                <span class="lbl">Activity</span>
            </a>
        </li>
        <li class="blue-sky">
            <a href="#">
                <i class="font-icon font-icon-question"></i>
                <span class="lbl">Help</span>
            </a>
        </li>
    </ul>
    <section>
        <header class="side-menu-title">Agent Portal</header>
        <ul class="side-menu-list">
            <li>
                <a href="#" target='_blank'>
                    <i class="font-icon font-icon-user"></i>
                    Switch to agent portal
                </a>
            </li>
        </ul>
    </section>
    <section>
        <header class="side-menu-title">Mobile Apps [Soon]</header>
        <ul class="side-menu-list">
            <li>
                <a href="#">
                    <img src="img/applecomingsoon.png" alt="Soon on App Store" style="width:80px">
                    <img src="img/playcomingsoon.png" alt="Soon on Play Store" style="width:80px">
                </a>
            </li>
        </ul>
    </section>
</nav><!--.side-menu-->
